body {
  width: 90%;
  background: url("img/marcel-strauss-rTsTP-SiMY4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.home-title {
  text-align: center;
}
.about-content-wrapper {
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 20px;
  line-height: 33px;
}
.about-bio {
  text-align: left;
}
.about-content-wrapper img {
  width:100%;
  border-radius: 5%;
}
nav {
    float: right;
  }
  
  nav ul li {
    width: auto;
    display: inline-block;
  }
  
  nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: rgb(235, 155, 235);
    padding-left: 15px;
  }
  
  ul {
    display: flex;
    justify-content: center;
  }

  img {
width: 30%;
max-width: 100%;
padding-right: 50%;

  }

#skills article {
  width: 80%;
  margin: 30px 0;
}

  #skills .skill-items, .tool-items {
  display: grid;
 

  }

#skills {
  text-align: center;
  margin: 0;
}

#skills i {
  font-size: 3.75em;
  margin-bottom: 15px;
}

.portfolio-header, .skills-header, .services-header {
  font-size: 2em;
  color: rgb(233, 71, 233);
}
.portfolio-header {
  text-align: center;
}
#work article {

  margin: 30px 0;
}
#work .home-portfolio-piece {
  display: grid;
margin: 0 auto;
 
}
#work img {
  width: 100%;
}

button {
  display: inline-block;
  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(233, 71, 233);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(31, 38, 239);
}
.services-header {
  text-align: right;
  font-size: 32px;
}

#services article {
  width: 60%;
  margin: 30px 0;
}

#services, .services-items {
display: grid;
grid-template-columns: 100% 100%;
padding-left: 5%;
}

#services {
  text-align: center;
  margin: 0;
}

#services i {
  font-size: 3.75em;
  margin-bottom: 15px;
}

.content-wrapper, .contact-info{
width:auto;
text-align: center;
}
#contact {
  width:110%;
  text-align: center;
}
.contact-info ul li {
  list-style: none;
}

.contact-info img {
  width: 100%;
}
iframe {
  padding-top: 5%;
}


@media screen and (max-width: 600px) {
  .home-title {
    width: 100%;
  }
  .about-content-wrapper {
    width: 100%;
  }
  
  #services, .services-items {
    width: 75%;
    max-width: 100%;
}
#work img {
  width: 100%;
}
iframe {
  width: 90%;
}
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .content-wrapper {
    width: 60%;
  }
  .home-title {
    float: center;
    width: 170%;
  }
  .about-content-wrapper {
    width: 100%;
  }
  #skills .skill-items, .tool-items {
    display: grid;
    grid-template-columns: auto auto;
  }
  #services, .services-items {
    width: 90%;
   max-width: 100%;
}
#contact {
  width:150%;
}
#work img {
  width: 100%;
}
iframe {
  width: 100%;
}
}
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .content-wrapper {
    width: 55%;
  }
  .home-title h2 {
  width: 170%;
  display:flex;
 align-content: center;
 justify-content: center;
  }
  .home-title h3 {
    width: 190%;
    display:flex;
   align-content: center;
   justify-content:center; 
  }
  .about-content-wrapper {
    width: 130%;
  }
  #skills .skill-items, .tool-items {
    display: grid;
    grid-template-columns: auto auto;
  }
  #services, .services-items {
    width: 90%;
   max-width: 1200px;
}
#contact {
  width:150%;
}
#work img {
  width: 100%;
}
iframe {
  width: 100%;
}
}