/* BEM Block,Element, Modifier*/

body {
  background: url("img/marcel-strauss-rTsTP-SiMY4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.light-mode {
  background-color: white;
  background: url("img/whitebackground.png");
  background-size: cover;
  background-position: center;
  color: black;
}
.light-mode body {
  background-color: black;
  background-size: cover;
  background: url("img/whitebackground.png");
  color: white;
  padding: 25px;
}
.content-wrapper,
.portfolio-header {
  margin: 0 auto;
  width: 100%;
}
.content-wrapper1 img {
  left: -5%;
  position: relative;
  width: 30%;
}
.home-title {
  text-align: center;
}
.about-content-wrapper {
  justify-content: left; 
  line-height: 45px;
}
.about-bio {
  text-align: left;
}
.about-content-wrapper img {
  border-radius: 5%;
  width: 40%;
}

nav {
  display: inline;
}

nav ul li {
  list-style: none;
  padding: 2%;
  width: 100%;
}

nav ul li a {
  color: rgb(235, 155, 235);
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  justify-content: center;
}
footer ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

.skill-items article {
  margin: auto 0 auto;
}
.skill-items {
  font-size: 1.7em;
  text-align: center;
}
section#skills {
  display: flex;
  justify-content: center;
}
#skills i {
  font-size: 3.75em;
  margin-bottom: 0px;
}
/*format in acending order*/
.project-link {
  display: block;
}

.portfolio-header,
.skills-header,
.services-header {
  color: rgb(233, 71, 233);
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  margin: 0 auto;
}
.services-items {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.portfolio-header {
  margin-top: auto;
  text-align: center;
}
.projects img {
  width: 400px;
  height: 400px;
  position: relative;
  top: -190px;
}
#work article {
  margin: 30px 0;
}

#work .projects {
  display: grid;
  font-size: 1.3em;
  margin: 0 auto;
}

#work img {
  width: 100%;
}

button {
  background-color: rgb(31, 38, 239);
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  outline: none;
  position: relative;
  right: -25%;
  text-align: center;
  text-decoration: none;
  width: 90%;
}

#services article {
  margin: 30px 0;
  width: 60%;
}

#services {
  margin: 0;
  text-align: center;
}

#services i {
  font-size: 1em;
  margin-bottom: 15px;
}

input {
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 75%;
}

textarea {
  box-sizing: border-box;
  height: 100px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 75%;
}

input[type="submit"] {
  background-color: rgb(233, 71, 233);
}

#contact {
  text-align: center;
}
.contact-info h3 {
  font-size: 2em;
}
.contact-info ul li {
  list-style: none;
}

.contact-info img {
  left: -75%;
  position: relative;
  width: 150%;
}
iframe {
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0%;
  }
  .content-wrapper1 img {
    left: 12%;
    position: relative;
    width: 75%;
  }
  nav {
    display: inline;
  }

  nav ul li {
    font-size: 1em;
    list-style: none;
    position: relative;
    right: 3%;
    text-align: center;
    width: 100%;
  }
  nav ul li a {
    font-size: 1.7em;
  }
  .home-title {
    padding: 30px 0 30px 0;
    width: 100%;
  }
  .home-title h2 {
    font-size: 3em;
  }
  .home-title h3 {
    font-size: 2.5em;
  }
  .about-content-wrapper img {
    border-radius: 5%;
    left: 10%;
    position: relative;
    width: 80%;
  }
  .about-content-wrapper {
    width: 100%;
  }
  .about-bio {
    margin: 5%;
  }
  .about-bio h2 {
    font-size: 3em;
  }
  .about-bio p {
    font-size: 2em;
    line-height: 40px;
  }

  button {
    display: flex;
    justify-content: center;
    left: 5px;
    margin: auto;
    padding: 0%;
    position: relative;
    width: 70%;
  }

  #services,
  .content-wrapper {
    width: 100%;
  }

  .portfolio-header,
  .skills-header,
  .services-header {
    margin: 0 auto;
    text-align: center;
  }
  .services-items {
    align-items: center;
    display: flex;
    font-size: 2em;
    line-height: 35px;
  }
  .projects {
    padding: 10%;
  }
  .projects img {
    height: 200px;
    position: relative;
    top: 12px;
    width: 300px;
  }
  #work {
    font-size: 1.5em;
  }
  #work img {
    width: 100%;
  }
  iframe {
    overflow: hidden;
    width: 100%;
  }
}

@media screen and (min-width: 481px) {
  header img {
    width: 100%;
  }
  nav {
    display: inline;
  }
  nav ul li {
    font-size: 1.5em;
    list-style: none;
    position: relative;
    right: 3%;
    text-align: center;
    width: 100%;
  }
  nav ul li a {
    font-size: 1.2em;
  }
  .content-wrapper button {
    left: 130px;
    position: relative;
    width: 90%;
  }
  button {
    display: flex;
    justify-content: center;
    left: 10px;
    margin: auto;
    position: relative;
    width: 35%;
  }

  .home-title h2 {
    font-size: 2em;
  }
  .home-title h3 {
    font-size: 1.5em;
  }
  .about-content-wrapper {
    width: 100%;
  }
  .about-content-wrapper img {
    left: 10%;
    position: relative;
    width: 80%;
  }
  .about-bio h2 {
    font-size: 1.9em;
  }
  .about-bio p {
    font-size: 1.5em;
    line-height: 45px;
  }
  .skill-items {
    align-content: center;
    display: flex;
    justify-content: space-around;
  }
  .projects {
    padding: 10%;
  }
  #work .projects {
    font-size: 2em;
  }
  .services-items {
    align-items: center;
    display: flex;
  }
  .services-items {
    font-size: 2em;
  }
  .portfolio-header,
  .skills-header,
  .services-header {
    text-align: center;
    margin: 0 auto;
  }
  .projects img {
    height: 200px;
    position: relative;
    top: 30px;
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .about-bio {
    font-size: 1.5em;
    line-height: 3%;
  }
  .about-content-wrapper {
    display: grid;
    grid-template-columns: auto auto;
  }
  .about-content-wrapper img {
    width: 90%;
  }
  .projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
  }

  button {
    display: flex;
    justify-content: center;
    left: 10px;
    margin: auto;
    position: relative;
    width: 25%;
  }
  .content-wrapper button {
    left: 175px;
    position: relative;
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    display: inline;
  }

  nav ul {
    display: flex;
    font-size: 1.3em;
    left: 5%;
    position: relative;
    width: 95%;
  }

  .about-content-wrapper {
    word-wrap: inherit;
  }
  .about-content-wrapper img {
    width: 90%;
  }
  .home-title h2 {
    font-size: 3em;
  }
  .home-title h3 {
    font-size: 2.8em;
  }
  .about-bio h2 {
    font-size: 2em;
  }
  .about-bio p {
    font-size: 1.5em;
    line-height: 55px;
  }
  .services-items {
    display: grid;
    grid-template-columns: auto auto;
    left: 10%;
    position: relative;
  }
  .skill-items {
    font-size: 2.5em;
  }
  .portfolio-wrapper {
    left: -10%;
    position: relative;
  }
  .projects {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 65% 65%;
  }
  .projects img {
    height: 300px;
    width: 400px;
  }
  button {
    display: flex;
    justify-content: center;
    left: 10px;
    margin: auto;
    position: relative;
    width: 20%;
  }
  .content-wrapper1 img {
    left: -5%;
    position: relative;
    width: 30%;
  }

  .project-link button {
    left: 20px;
    position: relative;
    width: 75%;
  }
  .portfolio-header,
  .skills-header,
  .services-header {
    font-size: 4em;
   
    position: relative;
    top: -10%;
  }
}
