body {
  width: 90%;
  max-width: 1200px;
  background: url("img/marcel-strauss-rTsTP-SiMY4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.home-title {
  text-align: center;
}
.about-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 35px;
}
.about-content-wrapper img {
  width:auto;
  border-radius: 30%;
}
nav {
    float: right;
    padding: 75px 25px;
  }
  
  nav ul li {
    width: auto;
    display: inline-block;
  }
  
  nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: rgb(235, 155, 235);
    padding-left: 35px;
  }
  
  ul {
    display: flex;
    justify-content: center;
  }

  img {
width: 25%;
display: inline-block;

}
.portfolio-header, .skills-header, .services-header {
  font-size: 2em;
  color: rgb(233, 71, 233);
}
.portfolio-header {
  padding-top: 15%;
}
#work article {
  width: 60%;
  margin: 30px 0;
}
#work .home-portfolio-piece {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10%;
}
#work img {
  width: 100%;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(233, 71, 233);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(31, 38, 239);
}
.language-wrapper, .skills-header, .portfolio-header, .contact-info {
  text-align: center;
  text-transform: uppercase;
}
.language-wrapper p {
 display: inline;
}

.services-header {
  text-align: center;
  font-size: 2em;
}

#services article {
  width: 60%;
  margin: 30px 0;
}

#services, .services-items {
display: grid;
grid-template-columns: auto auto;
padding-left: 5%;
}

#services {
  text-align: center;
  margin: 0;
}

#services i {
  font-size: 3.75em;
  margin-bottom: 15px;
}
.contact-info ul li {
  list-style: none;

}

.contact-info img {
  width: 95%;
}


  @media only screen and (max-width: 480px) {
    nav ul li a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 10px;
      color: rgb(235, 155, 235);
      padding-left: 10px;
    }
    ul {
      display: flex;
      justify-content: center;
    }
    
  } 

@media only screen and (min-width:481px) and (max-width: 768px) {

  nav ul li a {
 
display: inline-block;
  }
  
  ul {
    display: flex;
    justify-content: center;
  }
} 

@media only screen and (min-width:769px) and (max-width: 1040px) {
  nav ul li a {

display: inline-block;
  }
  
  ul {
    display: flex;
    justify-content: center;
  }
}